:root {
  --bg-color: #fff;
  // 主题色文字颜色
  --p-text-color: #3c62b0;
  // top、bottom、地区的文字颜色
  --p-default-color: #666;
  // detail-title的文字颜色
  --p-title-color: #333;
  // 999
  --p-gray-color: #999;
  // active-color
  --p-text-active-color: #4e7fe1;
  // detail-tab
  --p-check-color: #3c62b0;
  // detial-tab的背景
  --p-check-bg-color: #f6f7fa;
  --p-unit-bg-color: #fafafa;
}

.dark {
  --bg-color: #242424;
  --text-color: #ffffff;
  --border-color: #444444;
  --el-color-primary: #4c4d4f !important;
  --p-text-color: #fff;
  --p-default-color: #fff;
  --p-title-color: #fff;
  --p-text-active-color: #5a8ef5;
  --p-check-bg-color: #262727;
  --p-check-color: #296dff;
  --p-unit-bg-color: #4c4d4f;
}
