:root {
  --bg-color: #fff;
  // 主题色文字颜色
  --p-text-color: #3c62b0;
  // top、bottom、地区的文字颜色
  --p-default-color: #666;
  // detail-title的文字颜色
  --p-title-color: #333;
  // 999
  --p-gray-color: #999;
  // active-color
  --p-text-active-color: #4e7fe1;
  // detail-tab
  --p-check-color: #3c62b0;
  // detial-tab的背景
  --p-check-bg-color: #f6f7fa;
  --p-unit-bg-color: #fafafa;
  // login-border-color
  --p-login-border-color: #eee;
  // login-ver-code-color
  --p-login-ver-code-color: #606266;
  // 已登录 - 预约挂号
  --p-register-title-color: #7f7f7f;
  --p-register-line-color: #eee;
  // 当前选中的挂号日期
  --p-register-selected-color: #c6d5fa;
  // 无号日期
  --p-register-gray-color: #999;
  // 无号日期 - bg
  --p-register-gray-bg-color: #eee;
  // 无号日期 - 选中 - bg
  --p-register-gray-selected-bg-color: #ccc;
  // tips
  --p-darnger-color: #ff5f5f;
  // 挂号信息 - 就诊人选中
  --p-patient-active-color: #fff;
  --p-patient-active-shadown: rgba(69, 98, 171, 0.9);
}

.dark {
  --bg-color: #242424;
  --text-color: #ffffff;
  --border-color: #444444;
  --el-color-primary: #4c4d4f !important;
  --p-text-color: #fff;
  --p-default-color: #fff;
  --p-gray-color: #fff;
  --p-title-color: #fff;
  --p-text-active-color: #5a8ef5;
  --p-check-bg-color: #262727;
  --p-check-color: #296dff;
  --p-unit-bg-color: #4c4d4f;
  --p-login-border-color: #8080807f;
  --p-login-ver-code-color: #cfd3dc;
  --p-register-title-color: #fff;
  --p-register-line-color: rgba(255, 255, 255, 0.5);
  --p-register-selected-color: #fff;
  // 无号日期
  --p-register-gray-color: #999;
  // 无号日期 - bg
  --p-register-gray-bg-color: #eee;
  // 无号日期 - bg
  --p-register-gray-selected-bg-color: #ccc;
  --p-darnger-color: #ff5f5f;
  --p-patient-active-color: #3c62b0;
  --p-patient-active-shadown: rgba(255, 255, 255, 0.4);
}
